$bg-color: #fff;
$btn-primary-color: #04787c;
$btn-dark-color: #303036;
$btn-text-color: #fff;
$text-color: #303036;
$border-color: #04787c;
$modal-bg-color: #f5f5f5;
$danger-color: #fc2a21;
$hamburger-color: #04787c;
$placeholder-color: #a9a9b6;
$card-height: 100%;
$bids-color: #04787c;
